.form_div {
display: flex;
justify-content: center; 
margin-top: 25px;

}

h2{
    display: flex;
    justify-content: center;
}

.form_button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input { border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
margin-bottom: 20px;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    margin-bottom: 100px;
    
    background-color: #ffff;
   
}

@media screen and (max-width: 768px) {

    .form-container{
        display: flex;
        justify-content: center;
    }
    .signup_form{
        display: flex;
        justify-content: center;
        margin-left: 270px;
    }

}