.Slogan_Flex_Box_Container{
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
   
}

@media screen and (max-width: 768px){
    .Slogan_Flex_Box_Container{
        display: flex;
        justify-content: center;
         font-size: 30px;
      
         margin-left: -5px;
         margin-top: -10px;
    }
}