.footer {
    background: linear-gradient(90deg, rgb(9, 28, 136) 0%, rgb(27, 58, 160)100%);
    align-items: center;
    font-size: 1.2rem;
    margin-top: 25px;
   
   
}
h4{
    display: flex;
    justify-content: center;
    color: #ffff;
}
.footer_par{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: medium;
    margin-bottom: 10px;
}
.email{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-size: small;
}





@media screen and (max-width: 768px) {
    

    .footer {
        background: linear-gradient(90deg, rgb(9, 28, 136) 0%, rgb(27, 58, 160)100%);
        align-items: center;
        font-size: 1.2rem;
        margin-top: 65px;
        padding-left: 10%;
        padding-right: 10%;
     }
     

     h4{
         color: #ffff;
         display: flex;
         justify-content: center;
         margin-bottom: -3px;
     }
     .footer_par{
         display: flex;
         justify-content: center;
         color: #ffff;
         font-size: xx-small;
         text-align: center;
     }

     .p_break{
         display: none;
     }

    }
   
   


