*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

footer{  
  position: relative;
  bottom:0px;
  width:100%;
}

@media screen and (max-width: 960px) {
img{
  display: none;
}
}

